@charset "UTF-8";

#box{
    background-color:rgb(172, 223, 255);
    width:50%;
    height: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: darkblue 2px solid;
}
#title{
    color: darkblue;
    font-size: 20px;
    margin: 10px;
}
#pushe{
    background-color:rgb(53, 148, 53);
    color:white;
    font-size: 15px;
    width: 60px;
    height: 35px;
    border-radius: 20%;
}
#save{
    background-color:rgb(199, 199, 199);
    color:rgb(0, 0, 0);
    font-size: 15px;
    width: 60px;
    height: 35px;
    border-radius: 20%;
}
#load{
    background-color:rgb(199, 199, 199);
    color:rgb(0, 0, 0);
    font-size: 15px;
    width: 60px;
    height: 35px;
    border-radius: 20%;
}
#memo{
    width: 600px;
    height: 50px;
    font-size: 17px;
}
#list{ 
    width: 600px;
    height: 50px;
    font-size: 17px;
    border: rgb(68, 68, 68) 1px solid;
    background-color: white;
    display: block;
}

#check{
    float: right;
    width: 25px;
    height: 25px;
    margin-top: 16px;
} 

#crear1{
    float: right;
    width: 25px;
    height: 25px;
    margin-top: 16px;
}